@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Chewy');

.image {
  border-radius: 20px;
  width: 200px;
  height: auto;
  margin: 30px;
}

.firstPageUl {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Chewy';
  color: lightgreen;
}

.div {
  display: flex;
  justify-content: center;
}

.todoLink {
  color: lightblue;
  font-family: 'Chewy';
  font-size: 40px;
}

.todoLink:hover {
  color: aquamarine;
}

.form {
  margin: 30px;
}

.inputBtn,
.inputField {
  border-radius: 18px;
  padding: 8px;
  margin: 10px;
  background-color: #C0D8C0;
  font-family: 'Roboto';
  border: 1px solid #C0D8C0;
}

.inputField::placeholder {
  color: black;
}

.inputBtn:hover {
  background-color: #E1EFCA;
}


.backLink {
  display: flex;
  font-family: 'Chewy';
  color: lightblue;
  font-size: 30px;
  width: 100px;
  align-items: center;
}

.backLink:hover {
  color: aquamarine;

}

.todoH1 {
  text-align: center;
  font-family: 'Chewy';
  font-size: 50px;
  color: lightgreen;
}

.form {
  margin: 30px;
}

.containerDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p {
  font-family: 'Chewy';
  font-size: 20px;
}

.ul {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.li {
  display: flex;
  font-family: 'Roboto';
  list-style: none;
  background-color: lightblue;
  padding-left: 5px;
  border-radius: 18px;
  width: 200px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 10px;

}

.toDoDiv {
  text-align: center;
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: tomato;
  border: none;
  /* margin-bottom: 10px; */
  font-family: 'Roboto';
  border-radius: 18px;
}

.button:hover {
  background-color: red;
}

.todo {
  display: flex;

}