@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Chewy');

.image {
  border-radius: 20px;
  width: 200px;
  height: auto;
  margin: 30px;
}

.h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Chewy';
  color: lightgreen;
}

.div {
  display: flex;
  justify-content: center;
  /* flex-direction: column;  */
}

.todoLink {
  color: lightblue;
  font-family: 'Chewy';
  font-size: 40px;
}

.todoLink:hover {
  color: aquamarine;
}

.form {
  margin: 30px;
}

.inputBtn, 
.inputField {
  border-radius: 18px;
  padding: 8px;
  margin: 10px;
  background-color: #C0D8C0;
  font-family: 'Roboto';
  border: 1px solid #C0D8C0;
}

.inputField::placeholder {
  color: black;
}

.inputBtn:hover {
  background-color: #E1EFCA;
}


.backLink {
  font-family: 'Chewy';
  color: lightblue;
  font-size: 30px;
}

.backLink:hover {
  color: aquamarine;
}

.todoH1 {
  font-family: 'Chewy';
  font-size: 50px;
  color: lightgreen;
}


.form {
  margin: 30px;
}

.containerDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p {
  font-family: 'Chewy';
  font-size: 20px;
}

.ul {
  list-style: none;
  align-self: center;
}

.li{
  font-family: 'Roboto';
}